@charset "UTF-8";


@font-face {
    font-family: 'Univers';
    src: url('../font/Univers.woff2');
}

:root {
    --padding: 5vw;
    --pcPadding: 7.5vw;
    --backgroundColor: #fff;
    --textColor: #000;
    --footerColor: #e9e7e6;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {font-size: 62.5%;}
html, body {
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--backgroundColor);
}


div, h1, h2, h3, h4, h5, h6, p, a, span, input, button, tspan {
    font-family: "Univers", 
    TsukuGoPr5-D, TsukuGoPro-D,
    dnp-shuei-gothic-gin-std,
    "Yu Gothic Medium","游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
    font-weight: 500;
    color: var(--textColor);
    font-display: swap;
    font-feature-settings: "palt";
    letter-spacing: .1em;
    -webkit-font-smoothing: antialiased;
    line-height: 1.8;
}


:lang(en),
:lang(en) * {
    font-family: "Univers", sans-serif;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
}
svg, svg path, svg g {fill: var(--textColor);}

.h0 {font-size: 2.2rem;}
h1, .h1 {font-size: 1.8rem;}
h2, .h2 {font-size: 1.6rem;}
h3, .h3 {font-size: 1.4rem;}
h4, .h4 {font-size: 1.2rem;}
h5, .h5 {font-size: 1.1rem;}
h6, .h6 {font-size: 1.0rem;}
.h7 {font-size: .9rem;}

.sp {display: block;}
.pc {display: none;}

p, .p {
    font-weight: 400;
    line-height: 1.9;
    font-size: 1.2rem;
    text-align: justify;
    word-wrap: break-word;
    hyphens: auto;
    word-break: break-all;
}
li {
    text-decoration: none;
    list-style: none;
}
a {
    text-decoration: none;
    display: inline-block;
    transition: .75s ease-in-out;
}
a:hover {opacity: .65;}

section {
    padding-left: var(--padding);
    padding-right: var(--padding);
}
img {
    width: 100%;
    object-fit: cover;
    object-position: 50%;
}

input {
    background-color: transparent;
    border: none;
    outline: none;
}
input::placeholder {
    color: var(--textColor);
    opacity: .25;
}
button {
    background-color: transparent;
    border: none;
    outline: none;
}




.uppercase {text-transform: uppercase;}
.link {
    text-transform: uppercase;
    position: relative;
}
.link::after {
    display: block;
    content: "";
    position: absolute;
    top: auto;
    bottom: -.25rem;
    width: 100%;
    height: .8px;
    background-color: var(--textColor);
}


.center {text-align: center;}
.semitrans {opacity: .7;}
.half {opacity: .5;}
.white {color: var(--bodyColor);}
.gray {color: var(--subColor);}
ul li {text-decoration: none;list-style: none;}
.flex {display: flex; justify-content: center; align-items: center;}

.w100 {
    width: 100vw;
    margin-left: calc(-1 * var(--padding));
}


main {margin: auto;}


@media screen and (min-width: 720px) {
    html {font-size: 62.5%;}
    .h0 {font-size: 3.6rem;}
h1, .h1 {font-size: 2.0rem;}
h2, .h2 {font-size: 1.8rem;}
h3, .h3 {font-size: 1.6rem;}
h4, .h4 {font-size: 1.4rem;}
h5, .h5 {font-size: 1.2rem;}
h6, .h6 {font-size: 1.1rem;}
.h7 {font-size: 1.0rem;}
p, .p {
    font-size: 1.35rem;
    letter-spacing: .15em;
    line-height: 2.0;
    text-align: left;
}
.sp {display: none;}
.pc {display: block;}

section {
    padding-left: var(--pcPadding);
    padding-right: var(--pcPadding);
}


.w100 {
    width: 100vw;
    margin-left: calc(-1 * var(--pcPadding));
}



}

@media only screen and (min-width: 481px) and (max-width: 720px) {
    html {font-size: 50%;}
}
  
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
        /* For portrait layouts only */
}




