footer svg path {fill:#FFF;}


.head1 {
  font-size: 1.35rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.uppercase {text-transform: uppercase;}
.link {
    text-transform: uppercase;
    position: relative;
}
.link::after {
    display: block;
    content: "";
    position: absolute;
    top: auto;
    bottom: -.25rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: .8px;
    background-color: var(--textColor);
}
.center {text-align: center;}
.half {opacity: .5;}

.l-horizontal {
    width: 100vw;
    margin-left: calc(-1 * var(--padding));
    padding-left: var(--padding);
    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none;/*Edge*/
    scrollbar-width: none;/*Firefox*/
}
.l-horizontal::-webkit-scrollbar{display: none;}/*Google Chrome / Safair*/
.l-horizontal .container {
  flex-shrink: 0;
  width: 70vw;
  margin-right: 1.5rem;
}


.l-products {
  width: 100vw;
  margin-left: calc(-1 * var(--padding));
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
}
.l-products a {margin-bottom: 3rem;}
.l-products .container {
  position: relative;
  display: grid;
}
.l-products .container .box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 2rem;
  padding-left: 1.5rem;
}
.l-products .container img,
.l-products .container .box {grid-area: 1/2;}
.l-products .product_title {
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}


.l-overlay {
  width: 100vw;
  height: 82.5vh;
  margin-left: calc(-1 * var(--padding));
  padding-left: var(--padding);
  padding-right: var(--padding);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.l-overlay * {color: #FFF;}



.l-information .container {
  padding: 1.8rem 1.5px 1.6rem; 
  border-bottom: .5px solid rgba(0,0,0,.15);
}
.l-information .container:nth-of-type(1) {border-top: .5px solid rgba(0,0,0,.15);}
.l-information .container h3 {
  margin-top: 1px;
  line-height: 1.4;
}

.l-cards img {margin-bottom: 1rem;}
.l-cards h3 {
  margin-top: .25rem;
  margin-bottom: .75rem;
}


.l-button {
  letter-spacing: .15em;
  padding: 1.4rem 5rem;
  color: #FFF;
  background-color: #000;
}






@media screen and (min-width: 720px) {

  .head1 {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }


  .l-horizontal {
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    display: flex;
    overflow-x: hidden;
  }
  .l-horizontal .container {
    flex-shrink: 0;
    width: 32.5%;
    margin-right: 1.5rem;
  }

  .l-products {
    width: 100%;
    margin-left: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }

  .l-overlay {
    margin-left: calc(-1 * var(--pcPadding));
    padding-left: var(--pcPadding);
    padding-right: var(--pcPadding);
  }


}